
/* Turn on the new border-box to all page */
/* * {
  box-sizing: border-box;
} */

.old {
  width: 300px;
  height: 300px;
  border: 5px solid black;
}

.new {
  width: 300px;
  height: 300px;
  border: 5px solid black;
  box-sizing: border-box;
}