<h1>STOCKS</h1>

<form action="/result">
  <label>
    Ticker:
    <input type="string" placeholder="ticker" name="ticker">
  </label>
  <label>
    Operation
    <input name="operator" placeholder="price or low or high or..." >
  </label>
  <button>Give me!</button>
</form>
