<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Stocks</title>
    <link rel=stylesheet href="/css/stock.css">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
    </nav>
    <%# dynamic content goes here %>
    <%= yield %>
    <%# after yield %>
    <footer>&copy;</footer>
  </body>
</html>
