<h1>My Blog</h1>
<div class="post">
  <h2>The Post</h2>
  <h3 class="author">Author</h3>
  <div class="content">
    <p>content here! content here! content here! content here! content here!</p>
  </div>
</div>
<div class="post">
  <h2>The Post</h2>
  <h3 class="author">Author</h3>
  <div class="content">
    <p>content here! content here! content here! content here! content here!</p>
  </div>
</div>
<div class="post">
  <h2>The Post</h2>
  <h3 class="author">Author</h3>
  <div class="content">
    <p>content here! content here! content here! content here! content here!</p>
  </div>
</div>
<div class="post">
  <h2>The Post</h2>
  <h3 class="author">Author</h3>
  <div class="content">
    <p>content here! content here! content here! content here! content here!</p>
  </div>
</div>


<hr>

<div class="notification"> This is a notice </div>
<div class="error"> There was error </div>
<div class="success"> This was success </div>