<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Crappy Calculator</title>
  <link rel=stylesheet href="/css/calculator.css">
</head>
<body>

<h1> Welcome To Crappy Calculator</h1>

<p>kncjkankjcna</p>
<img src="http://fillmurray.com/600/750">



</body>
</html>