<h1> Welcome To Crappy Calculator</h1>

<form action="/result">
  <label>
    First number:
    <input type="number" name="x">
  </label>
  <label>
    Operator
    <input name="operator">
  </label>
  <label>
    Second number:
    <input type="number" name="y">
  </label>
  <button>Calculate!</button>
</form>
