<h1> Welcome To Crappy Calculator</h1>
<form>
  <label>
    First number:
    <input type="number">
  </label>
  <label>
    Operator
    <input>
  </label>
  <label>
    Second number:
    <input type="number">
  </label>
  <button>Calculate!</button>
</form>
