.box {
  width: 300px;
  height: 300px;
  border: 3px solid black;
  text-align: center;
  line-height: 300px;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.none {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
}

.spooky-word {
    visibility: hidden;
}

/* Descendents selector */
.spooky span {
  visibility: hidden;
}

.spooky:hover {
  background-color: black;
}

.spooky:hover span {
  transition: 2s all;
  color: yellow;
  visibility: visible;
}