<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Express Intro</title>
</head>
<body>
  <h1>Hello World From EJS</h1>
  <h2>Here is your lucky number: <%= Math.random() %></h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, magni? Repellat qui ullam, eligendi eaque repudiandae ducimus commodi totam eum consequatur ut et impedit unde doloribus tempora, minima perferendis similique! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur magnam, temporibus doloremque officia non illum! Numquam, deleniti sint ullam quo eveniet, iusto obcaecati excepturi accusamus dolorum sapiente alias nostrum error!</p>
</body>
</html>