<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue.js Intro/title</title>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css'>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

  <div id="app">
    {{ message }}
  </div>

  <script>
    const app = new Vue({
      el: '#app',
      data: {
        message: 'Hello world from Vue.js!'
      }
    });
  </script>

  <div id="app-2">
    <span v-bind:title="message">Hover over this text</span>
  </div>


  <script>
  const app2 = new Vue({
    el: '#app-2',
    data: {
      message: "You loaded this page on " + new Date().toLocaleString()
    }
  });
  </script>

  <div id="app-3">
    <span v-if="visible">You can see these words</span>
  </div>

  <script>
  const app3 = new Vue ({
    el: '#app-3',
    data: {
      visible: true
    }
  });
  </script>

  <div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>

  <script>
  const app4 = new Vue ({
    el: '#app-4',
    data: {
      todos: [
        { text: 'Learn more JS' },
        { text: 'Learn more React' },
        { text: 'Learn more Vue js' },
        { text: 'Learn more Node js' },
      ]
    }
  });
  </script>

<hr>

<div id="app-5">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">Reverse message</button>
</div>

<script>
  const app5 = new Vue({
    el: '#app-5',
    data: {
      message: 'Hello World'
    },
    methods: {
      reverseMessage() {
        console.log('reversing message');
      }
    }
  })
</script>


</body>
</html>



<hr>
// console
// Vue
// app4.todos
// app4.todos[0]
// app4.todos[0].text
// app4.todos[0].text = "Learn more ES6"