<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/layout.css" />
    <title>Layout Demo</title>
  </head>
  <body>
    <div class="container">
      <!-- More semantic using the header instead using just a div with class "header"-->
        <nav>
          <!-- a*3 -->
          <a href="">Home</a>
          <a href="">FAQ</a>
          <a href="">Contac</a>
        </nav>
        <header>
            <h1>TITLE</h1>
      </header>

      <main>
        <h2>Content Goes Here</h2>
        <img src="https://fillmurray.com/400/601" alt="" />
        <!--p*3>lorem-->
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ea
          autem perspiciatis rem officiis! Aut sequi culpa odit quos fugiat
          asperiores. Nulla, libero delectus! Placeat voluptas culpa voluptatem
          eum minus.
        </p>
        <p>
          Cupiditate doloribus illum voluptate explicabo commodi, ipsum vitae?
          Inventore, totam. Facere, quod! Quas illum voluptates quia vero aut!
          Vel odit rerum a ut suscipit atque molestias ullam aperiam facilis
          maxime.
        </p>
        <p>
          Quibusdam fuga enim, architecto ad dolorem tempore, vel iusto commodi
          modi voluptatum similique tempora tenetur aliquid ratione possimus at
          nesciunt earum hic aliquam facere ipsa velit! Dolores odit harum
          blanditiis.
        </p>
      </main>

      <aside>
        <h3>Fun Facts</h3>
        <!--ul>li*4-->
        <ul>
          <li>Groucho</li>
          <li>Harpo</li>
          <li>Chico</li>
          <li>Zeppo</li>
        </ul>
      </aside>
    </div>
  </body>
</html>
